#GIT_Ignore File


# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# logs
/stacktrace.log
/logs

/*.zip

# "temporary" build files
*/target
target/*
*target*
*/target/*
target*

out/*
*.iml
.gradle/*
*.ipr
*.iws
build/*

.idea*

mvn.log
