---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Ankit Gubrani | My Work" description="Codebrains.co.in is a blogging website on latest technology which include AEM, Adobe CQ, Java based frameworks and latest OS features." canonicalUrl={`https://www.codebrains.co.in${Astro.url.pathname}`}>
    <div class="intro-header my-work-homepage">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                </div>
            </div>
        </div>
    </div>
</div>
<section id="my-work">
    <div class="content-section-b no-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <label class="eyebrow-blue">AEM CONNECTOR</label>
                    <h2 class="section-heading">
                        <a href="/recommendation-engine" target="_blank">AEM Recommendation Generator</a>
                    </h2>
                    <p class="lead">The AEM Recommendation generator is a content based
                        recommendation engine which reads the metadata from pages and finds the similar pages to generates
                        the relevant recommendations on a website to improve user experience and retention rate.</p>
                    <ul class="footer-social">
                        <li>
                            <a href="/recommendation-engine" class="fa fa-external-link" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://github.com/ankit-gubrani/aem-recommendation-engine" class="fa fa-github" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://adapt.to/2021/en/schedule/content-based-recommendation-engine-in-aem.html" class="fa fa-external-link-square" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <a href="/recommendation-engine" target="_blank">
                        <img class="img-responsive curvedImage" src="/resources/assets/img/mywork/RecommnendationEngine.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b no-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <label class="eyebrow-blue">CHROME EXTENSION</label>
                    <h2 class="section-heading">
                        <a href="/projects/offline-webpage-editor" target="_blank">Offline WebPage Editor - Chrome Extension</a>
                    </h2>
                    <p class="lead">Offline WebPage Editor is Chrome extension which allows users to temporarily try
                        content changes directly on Published pages without opening Author instance.</p>
                    <ul class="footer-social">
                        <li>
                            <a href="https://chrome.google.com/webstore/detail/offline-webpage-editor/plldjngagpbkienpplkifjkcoimkeadj" class="fa fa-chrome" target="_blank" alt="Download Chrome Extension"></a>
                        </li>
                        <li>
                            <a href="/projects/offline-webpage-editor" class="fa fa-external-link" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <a href="/projects/offline-webpage-editor" target="_blank">
                        <img class="img-responsive curvedImage" src="/resources/assets/img/mywork/offlineWebpageEditor/OfflineWebPageEditor.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b no-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <label class="eyebrow-blue">AEM CONNECTOR</label>
                    <h2 class="section-heading">
                        <a href="/projects/aem-mahout-connector" target="_blank">AEM-Mahout Connector</a>
                    </h2>
                    <p class="lead">AEM-Mahout Connector brings power of Machine Learning algorithms to AEM. Apache Mahout is an algorithm library for scalable machine learning,
                        using this connector you can use various ML alogithm with AEM. This connector was showcased at <a href="https://adapt.to/2016/en/schedule/integrating-apache-mahout-with-aem.html">adaptto() 2016</a>.
                    </p>
                    <ul class="footer-social">
                        <li>
                            <a href="https://github.com/ankit-gubrani/AEMMahout" class="fa fa-github" target="_blank"></a>
                        </li>
                        <li>
                            <a href="/deck/aem-integration-with-apache-mahout" class="fa fa-slideshare" target="_blank"></a>
                        </li>
                        <li>
                            <a href="/projects/aem-mahout-connector" class="fa fa-external-link" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <a href="/projects/aem-mahout-connector" target="_blank">
                        <img class="img-responsive curvedImage" src="/resources/assets/img/presentation/aem-mahout-5.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b no-border">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <label class="eyebrow-blue">AEM CONNECTOR</label>
                    <h2 class="section-heading">
                        <a href="/projects/aem-wookie-connector" target="_blank">AEM-Wookie Connector</a>
                    </h2>
                    <p class="lead">AEM-Wookie Connector makes creating interactive websites in AEM easy. Apache Wookie is a server application
                        which comes with pre-installed interactive widgets, Wookie-AEM Connector lets you use these interactive widgets on AEM websites.
                        This connector was showcased at AEMHub 2015.</p>
                    <ul class="footer-social">
                        <li>
                            <a href="https://github.com/ankit-gubrani/AEM-WookieConnector" class="fa fa-github" target="_blank"></a>
                        </li>
                        <li>
                            <a href="http://ankit-gubrani.github.io/AEM-WookieConnector/#/" class="fa fa-slideshare" target="_blank"></a>
                        </li>
                        <li>
                            <a href="/projects/aem-wookie-connector" class="fa fa-external-link" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <a href="/projects/aem-wookie-connector" target="_blank">
                        <img class="img-responsive curvedImage" src="/resources/assets/img/mywork/aem-wookie_connector.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</BaseLayout>
