---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Codebrains.co.in | Home" description="Codebrains.co.in is a blogging website on latest technology which include AEM, Adobe CQ, Java based frameworks and latest OS features." canonicalUrl={`https://www.codebrains.co.in${Astro.url.pathname}`}>
    <div class="intro-header aem-wookie-connector-homepage">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container main-container">
    <h1>AEM-Wookie connector</h1>
    <p class="lead">AEM-Wookie connector connects Adobe experience manager (AEM) with Apache Wookie. Apache Wookie is a Java server
        application that allows you to upload and deploy widgets for your applications. This tool allows AEM users to use
        Apache wookie to fetch & display widgets hosted on the apache wookie server. Widgets can not only include all the
        usual kinds of mini-applications, badges, and gadgets, but also fully-collaborative applications such as chats,
        quizzes, and games.
    </p>

    <br>
    <p class="lead"> Here is the link that explains more : <a href="http://ankit-gubrani.github.io/AEM-WookieConnector/#/" target="_blank">AEM-WookieConnector</a></p>
    <ul class="footer-social">
        <li>
            <a href="https://github.com/ankit-gubrani/AEM-WookieConnector" class="fa fa-github" target="_blank"></a>
        </li>
        <li>
            <a href="http://ankit-gubrani.github.io/AEM-WookieConnector/#/" class="fa fa-slideshare" target="_blank"></a>
        </li>
    </ul>
</div>
</BaseLayout>
