---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="AEM Mahout Connector" description="AEM-Mahout Connector brings power of Machine Learning algorithms to AEM. Apache Mahout is an algorithm library for scalable machine learning, using this connector you can use various ML alogithm with AEM." canonicalUrl={`https://www.codebrains.co.in${Astro.url.pathname}`}>
    <div class="intro-header aem-mahout-connector-homepage">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container main-container">
    <h1>AEM-Mahout Connector tool</h1>

    <br>
    <p class="lead">AEM-Mahout Connector integrates Adobe experience manager(AEM) with Apache Mahout. Apache Mahout is an algorithm
        library for scalable machine learning. Machine learning is getting in trend and so we thought about Integrating
        Apache Mahout with AEM to simply make our AEM applications smarter and interesting! </p>

    <br>

    <p class="lead">
        In GitHub project, we created a <strong><u>User based recommendations engine</u></strong> which reads user preferences/reviews stored in AEM under JCR.
        And based on the data set it provides recommendations to its users.
        Here is the link that explains more : <a href="../deck/aem-integration-with-apache-mahout">AEM-Mahout Integration</a>
    </p>

    <ul class="footer-social">
        <li>
            <a href="https://github.com/ankit-gubrani/AEMMahout" class="fa fa-github" target="_blank"></a>
        </li>
        <li>
            <a href="https://adapt.to/2016/en/schedule/integrating-apache-mahout-with-aem.html" class="fa fa-external-link" target="_blank"></a>
        </li>
    </ul>
    <p>&nbsp;</p>
    <br>
</div>
</BaseLayout>
