---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Codebrains.co.in | Home" description="Codebrains.co.in is a blogging website on latest technology which include AEM, Adobe CQ, Java based frameworks and latest OS features." canonicalUrl={`https://www.codebrains.co.in${Astro.url.pathname}`}>
    <div class="intro-header offline-webpage-editor-homepage">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container main-container">
    <h1>Offline WebPage Editor - Chrome Extension</h1>
    <br>
    <p class="lead">Offline WebPage Editor is Chrome extension which allows users to temporarily try content changes directly on live pages. </p>

    <p class="lead">Offline WebPage Editor comes as handy tool for AEM authors & other business users who want to try out different content variations on published pages quickly before authoring the actual changes.
        Offline WebPage Editor lets its users:<br>
        <br> <i class="fa fa-angle-double-right"></i> Change existing text on the page
        <br> <i class="fa fa-angle-double-right"></i> Move images around the page
        <br> <i class="fa fa-angle-double-right"></i> Change or add new font styles (bold, italics) on the text
        <br> <i class="fa fa-angle-double-right"></i> Add new Text on the page</p>
    <h3>Here's a Demo:</h3>
    <br>
    <img src="/resources/assets/img/mywork/offlineWebpageEditor/demo.gif" width="100%" />
    <br>
    <p class="lead">&nbsp;</p>
    <h3>Download here: <a href="https://chrome.google.com/webstore/detail/offline-webpage-editor/plldjngagpbkienpplkifjkcoimkeadj" class="fa fa-chrome" target="_blank" alt="Download Chrome Extension"></a>
    </h3>
    <br>

</div>
</BaseLayout>
